*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
nav{
    display: grid;
    grid-template-columns: 90% 10%;
    grid-template-areas: 
    'logo ham';
}

.logo{
    grid-area: logo;
    width: 11rem;
}
.ham{
    grid-area: ham;
    background-color: black;
}